<div class="px-4 lg:px-0 mt-12 text-gray-700 dark:text-white max-w-screen-md mx-auto text-lg leading-relaxed">
	<%= form_with(model: [@post, comment]) do |f| %>
		<div class="w-full rounded-lg pt-2">
			<div class="flex flex-col mx-0 mb-6">
				<h2 class="px-4 pt-3 pb-2 text-gray-900 font-bold text-lg">Add a new comment</h2>
				<div class="w-full md:w-full px-3 mb-2 mt-2">
					<%= f.rich_text_area :body, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
				</div>
				<div class="flex justify-end mb-3">
					<%= f.submit submit_label, class:"bg-white text-gray-700 font-light text-sm py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100 cursor-pointer"  %>
				</div>
			</div>
		</div>
	<% end %>
</div>
