<div class="w-full mt-3">
	<div class="flex justify-between items-center mb-3">
		<h1 class="font-bold text-4xl dark:text-gray-50">All Categories</h1>
		<%= link_to 'Add New Category', new_category_path, class:"bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold  px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
	</div>
	<div id="categories" class="min-w-full">
		<%= render @categories %>
	</div>
</div>
