<div class="w-full mt-5">
	<% if notice.present?%>
		<div class="p-2 bg-green-400/60 backdrop-blur-xl z-20 max-w-md inline-block rounded-lg shadow">
			<span class="text-lg text-gray-50 font-medium"><%= notice %></span>
		</div>
	<% end%>
	<% if alert.present?%>
		<div class="bg-red-400/60 backdrop-blur-xl z-20 max-w-md inline-block rounded-lg p-2 shadow">
			<span class="text-lg text-gray-50 font-medium"><%= alert %></span>
		</div>
	<%end%>
</div>
