<div class="w-full mt-5">
	<% if notice.present?%>
		<div class="p-6 bg-green-400/60 backdrop-blur-xl z-20 max-w-md inline-block rounded-lg shadow">
			<h1 class="text-xl text-gray-50 font-medium"><%= notice %></h1>
		</div>
	<% end%>
	<% if alert.present?%>
		<div class="bg-red-400/60 backdrop-blur-xl z-20 max-w-md inline-block rounded-lg p-6 shadow">
			<h1 class="text-xl text-gray-50 font-medium"><%= alert %></h1>
		</div>
	<%end%>
</div>
