<!-- component -->
<footer class="w-full p-4 text-gray-900 dark:text-gray-50 mt-5">
	<div class="flex gap-4 justify-center text-xl ">
		<a href="#" target="_blank" class="hover:text-gray-500"><i class="fa-brands fa-twitter"></i></a>
		<a href="#" target="_blank" class="hover:text-gray-500"><i class="fa-brands fa-instagram"></i></a>
		<a href="#" target="_blank" class="hover:text-gray-500"><i class="fa-brands fa-youtube"></i></a>
		<a href="#" target="_blank" class="hover:text-gray-500"><i class="fa-brands fa-linkedin"></i></a>
	</div>
	<div class="text-center">
		<p class="font-semibold text-sm">
			Copyright © 2022 -
			<%= link_to "Blog'22", root_path, class:"font-semibold text-sm cursor-pointer" %>
		</p>
	</div>
</footer>
