<!-- component -->
<footer class="footer footer-center  w-full p-4 bg-gray-300 text-gray-800 mt-10">
	<div class="text-center">
		<p class="font-semibold text-sm">
			Copyright © 2022 -
			<%= link_to "Blog'22", root_path, class:"font-semibold text-sm cursor-pointer" %>
		</p>
	</div>
</footer>
